{% extends 'base.html'%}
{%block title%} Blog {%endblock%}
{%block content%}
{% load static %}
div
    a(href="{%url 'blog_add'%}") Add post
div
    {% for post in object_list %}
    div.card.mb-2
        div.card-header.d-flex.justify-content-between
            a(href="{%url 'blog_view' post.id%}") {{post.header}}
            span {{post.views}}
            span {{post.created_at}}
        div.card-body
            {%include 'post_image.pug'%}
            {{post.text|truncatechars:100}}
        div.card-footer {%include 'post_menu.pug'%}

    {%endfor%}
{%endblock%}
