{% extends 'base.html'%}
{%block title%} Blog {%endblock%}
{%block content%}

h1 {{post.header}}
small {{post.created_at}}
br
small Views: {{post.views}}
div.d-flex
    {%include 'image_thumb.pug' with image=post.image%}
    {{post.text|linebreaksbr}}
{% if request.resolver_match.url_name == 'blog_delete' %}
form.alert.alert-danger(method="post") {% csrf_token %}
    p Delete post?
    div.d-flex.justify-content-between
        button.btn.btn-danger(type="submit") Confirm
        a(href="{%url 'blog_view' post.id%}") Cancel
{%else%}
{%include 'post_menu.pug'%}
{%endif%}
{%endblock%}
