{% extends 'base.html'%}
{%block title%} Products list {%endblock%}
{%block content%}
{% load static %}
div.d-flex
    div
        {%for category in categories%}
        div
            a.btn(href="{%url 'product_category' category.id%}" class="{% if category.id == category_id %}active{%endif%}") {{category.name}}
        {%endfor%}
    div
        div
            a(href="{%url 'catalog_add'%}") Add product
        div.d-flex.flex-wrap
            {% for product in object_list %}
            div.card.m-2
                div.card-header
                    h4.my-0.font-weight-normal
                        a(href="{%url 'product_detail' product.id%}") {{ product.name }}
                div.card-body
                    {%include 'image_thumb.pug' with image=product.image%}
                    strong Price:
                    span $ {{product.price}}
                    br
                    strong Category:
                    span {{product.category.name}}
                    br
                    strong Description:
                    span {{product.desc|truncatechars:100}}
                    br
                    button.btn.btn-lg.btn-block.btn-outline-primary Купить
                    br
                    {%if product.owner == user%}
                    a.p-2.btn.btn-outline-primary(href="{%url 'product_update' product.id%}") Update
                    {%endif%}
                    {% if "catalog.can_delete_product" in perms or product.owner == user %}
                    form(action="{%url 'product_delete' product.id%}" method="post")
                        {% csrf_token %}
                        button.p-2.btn.btn-outline-primary(type="submit") Delete

                    {%endif%}
            {%endfor%}
{%endblock%}
