{% extends 'base.html'%}
{%block title%} Good {%endblock%}
{%block content%}
{% load static %}
div.card
    div.card-header
        h4.my-0.font-weight-normal {{ product.name }}
    div.card-body
        {%include 'image_thumb.pug' with image=product.image%}
        br
        strong Price:
        span $ {{product.price}}
        br
        strong Category:
        span {{product.category.name}}
        br
        strong Description:
        span {{product.desc}}
        {%if product.owner == user%}
        div
            a(href="{%url 'product_update' product.id%}") Update
        {%endif%}
        {% if request.resolver_match.url_name != 'product_delete' %}
        div
            a(href="{%url 'product_delete' product.id%}") Delete
        {%endif%}
        button.btn.btn-lg.btn-block.btn-outline-primary Купить
{% if request.resolver_match.url_name == 'product_delete' %}
form.alert.alert-danger(method="post") {% csrf_token %}
    p Delete product?
    div.d-flex.justify-content-between
        button.btn.btn-danger(type="submit") Confirm
        a(href="{%url 'product_detail' product.id%}") Cancel
{%endif%}
{%endblock%}
