{% extends 'base.html'%}
{%block title%} Good {%endblock%}
{%block content%}
{% load static %}
<div class="card">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
    </div>
    <div class="card-body">
        {%if product.image %}
        <img src="{{product.image.url}}" class="img-thumbnail"/>
        {%else%}
        <img src="{% static 'no-image-icon.png' %}" class="img-thumbnail"/>
        {%endif%}

        <br/>
        <strong>Price:</strong> $ {{product.price}}
        <br/>
        <strong>Category: </strong> {{product.category.name}}
        <br/>
        <strong>Description:</strong>
        {{product.desc}}
        <br/>

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
    </div>
</div>
{%endblock%}